*{
    margin:0;
    padding:0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 70%;
    border:2px solid #000;
    padding:20px;
    text-align:left;
    margin:auto;
}
#cabecera{
    background-color:dodgerblue;
    padding:20px;
    font-weight: bold;
    font-size: 28px;
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    
}
#cabecera #titulo{
    font-weight:normal;
    padding:10px;
    font-size:18px;

}

h1{
    color:black;
}
h1:hover{
    color:black;
}
p{
    text-align: justify;
    padding:10px 20px;
}
